{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

    <body>
        <main role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">{{ balisong.brand }} - {{ balisong.model }} </h1>
                    <img style="width: 500px; height: 500px;" src="{{ asset('img/') }}{{ balisong.imageUrl }}">
                    <p>
                        {{ balisong.description }}
                    </p>
                </div>
            </div>
        </main>

        <footer class="container">
            <p>&copy; Company 2017-2018</p>
        </footer>

    </body>
{% endblock %}
