{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <body>
        <main role="main">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Vente de balisong</h1>
                    <p class="lead text-muted">Bienvenue sur ce site de vente de balisong (couteaux papillons).</p>
                </div>
            </section>

            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row">

                        {% for product in products %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <a href="{{ path('product', {'id': product.id }) }}"><img class="card-img-top" src="{{ asset('img/') }}{{ product.imageUrl }}" alt="Card image cap" href="{{ url('product', {'productId': product.id }) }}"></a>
                                    <div class="card-body">
                                        <a href="{{ path('product', {'id': product.id }) }}" class="underlined-text"><h3 class="card-text">{{ product.brand}} - {{ product.model }}</h3></a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a role="button" class="btn btn-sm btn-outline-secondary" href="{{ path('product', {'id': product.id }) }}">Voir le produit</a>
                                            </div>
                                            <h5 class="text-muted">{{ product.price|price(2, ',', '.') }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </main>


        <footer class="container">
            <p>&copy; Company 2017-2018</p>
        </footer>


    </body>

{% endblock %}